.cards{
    display: flex;
    flex-wrap: wrap;
    margin: 0 - 16px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.card{
    flex: 0 0 calc(30% - 32px);
    margin: 0 16px 16px 0;
    
}


  
  