
  .contenedorprincipal{
    background-color: black;
    height: 100%;
    width: 100%;
    position: fixed;
  }
  
  .contenedorimagen{
    background-attachment: scroll;
    

  }
    
  
  .image{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 700px;
    max-width: 80%;
    max-height: 80%;
    animation: none;
    
    
    
  }