.contenedor{
    background-image: url("https://wallpaperaccess.com/full/5322946.jpg") ;
    background-position: center;
    min-height: 100vh; 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    
}




.card{
 color: white; 
 display: flex;
 flex-direction: column;
 text-align: center;
 justify-content: center;  
 flex-basis: 300px;
 max-width: 25%;
 margin: 16px;
 padding: 20px;
 position: relative;
}

.image{
    border-radius: 20px 20px 5px 5px;
    border: 1px solid white;
    margin-top: 40px;
}