.searchContainer{
    display: flex;
    justify-content:flex-end;
    margin-right: 10px;
   
}

.searchContainer input{
    font-size: 16px;
    padding: 8px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-shadow: 
    0 3px 3px #bfbfbf,
    0 5px 5px #bfbfbf;
    
}

.boton{
        font-size: 18px;
        padding: 8px 14px;
        margin-left: 10px;
        border: 1px solid #c8c8c8;
        border-radius: 50px;
        cursor: pointer;
        box-shadow: 
        0 3px 3px #bfbfbf,
        0 5px 5px #bfbfbf;
       
    }


